html {
    --light-green: hsl(119, 35%, 51%);
    --green: hsl(121, 43%, 55%);
    --dark-green: hsl(117, 41%, 45%);
    --text-color: #1D1D1D;
    --black: #000000;
    --black-150: hsl(0, 0%, 15%);
    --black-110: hsl(0, 0%, 11%);
    --black-shadow: hsla(0, 0%, 15%, 0.16);
    --black-230: hsl(0, 0%, 23%);
    --gray-380: hsl(0, 0%, 38%);
    --gray-460: hsl(0, 0%, 46%);
    --gray-460-shadow: hsl(0, 0%, 46%, 0.16);
    --gray-590: hsl(0, 0%, 59%);
    --gray-850: hsl(0, 0%, 85%);
    --gray-880: hsl(0, 0%, 88%);
    --gray-950: hsl(0, 0%, 95%);
    --white: #fff;
    --max-width: 962px;
}

:root {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    min-width: 300px;
    box-shadow: 0px 0px 16px var(--black-shadow);
}

.content-max-width {
    display: block;
    max-width: 962px;
    padding: 0;
    margin: 0 auto;
}

@media screen and (max-width: 962px) {
    .content-max-width {
        padding: 0 0.2em;
    }
}

.header__row {
    display: flex;
    padding: 0.2em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__row__item {
    padding: 0.5em;
}

.button-login {
    border: 1px solid var(--gray-850);
    border-radius: 2px;
    background-color: var(--white);
    padding: 1.25em 3em;
    margin: 0;
    font: inherit;
    font-size: 0.8125rem;
    font-weight: bold;
}

.header__row__item>button:hover {
    background-color: var(--gray-950);
}

.header__row__item>button:active {
    background-color: var(--gray-850);
}

.button-basket {
    background-color: var(--white);
    border: 0;
    padding: 1em;
}

.search {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--gray-460);
    opacity: 0.3;
    margin-top: 4em;
}

.search:focus-visible {
    border: 0;
    opacity: 1;
    border-bottom: 1px solid var(--gray-460);
    outline: none;
}

.main-title {
    font-size: 1.375rem;
}

.restaurants {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(auto-fill, minmax(308px, 1fr));
    grid-template-rows: 1fr;
    gap: 1em;
}

.restaurant-card {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
}

.restaurant-card>*+* {
    padding: 0.3rem 0;
    margin: 0;
}

.restaurant-card:hover,
.restaurant-card:focus,
.restaurant-card:active {
    background-color: var(--gray-460-shadow);
}

.price {
    color: var(--gray-380);
    font-size: 0.875rem;
}

.delivery-time {
    font-size: 0.8125rem;
}

.p-1 {
    display: block;
    padding: 2em 0;
}

footer {
    background-color: var(--black-150);
    min-width: 300px;
    color: var(--white);
}

footer .hashtag {
    color: var(--light-green)
}

.footer__grid {
    display: grid;
    text-align: start;
    padding: 2em 0;
    margin: 0;
    grid-template-columns: repeat(auto-fill, minmax(308px, 1fr));
    grid-template-rows: 1fr;
    gap: 1em;
}

.footer__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    padding: 0;

}

.footer__col {
    display: flex;
    flex-direction: column;
    padding: 0em;
}

.footer__col>* {
    padding: 0.5em 0;
}

.footer__col>a,
.footer__col>a:link,
.footer__col>a:visited,
.footer__col>a:active {
    text-decoration: none;
    color: var(--white);
}

.footer__col>a:hover {
    text-decoration: underline;

}


.social>a:hover>img {
    box-shadow: 0px 0px 6px var(--white);
    border-radius: 0.3em;
}

.footer__col>a:hover>img {
    box-shadow: 0px 0px 6px var(--white);
    border-radius: 0.4em;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown__toggle {
    color: var(--white);
    padding: 0.5em 1em 0.5em 1em;
    background-color: var(--black-230);
    border: 0;
    border-radius: 0.2em;
    font-size: 1rem;
    width: 70%;
}

.dropdown__toggle__content {
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    background-image: url("Images/Dropdown/world.svg");
    background-repeat: no-repeat;
}

.dropdown__toggle__content>span {
    align-self: flex-start;
    text-align: start;
    flex: 2;
    padding-left: 2em;
}

.margin {
    padding-left: 1em;
}

.dropdown:hover .arrow {
    transform: rotate(180deg);
}

.dropdown:hover .dropdown__toggle {
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown:hover .dropdown__toggle:hover {
    background-color: var(--black-110);
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown__toggle:hover {
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown__drawer {
    display: none;
    background-color: var(--black-230);
    position: absolute;
    z-index: 1;
    width: 70%;
}

.dropdown__drawer a {
    text-decoration: none;
    color: var(--white);
    display: block;
    padding: 0.8em 1em;
    font-size: 1rem;
    padding: 0.5em 1em 0.5em 1em;
    padding-left: calc(2em + 16px);
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dropdown:hover .dropdown__drawer {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

.dropdown:hover li:hover {
    background-color: var(--black-110);
}

.dropdown:hover li:hover:last-child {
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

/* utilities */

.p-1 {
    padding: 2em 0;
}


.center {
    justify-content: center;
    column-gap: 2em;
}



.no-decoration-link,
.no-decoration-link:link,
.no-decoration-link:visited,
.no-decoration-link:active {
    text-decoration: none;
    color: var(--white);
}

.no-decoration-link:hover {
    text-decoration: underline;
}


.pm0 {
    padding: 0;
    margin: 0;
}

.button-up {
    display: none;
    width: 5em;
    height: 5em;
    background-image: url(Images/arrow-up.svg);
    background-color: var(--green);
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    z-index: 1;
    right: 1em;
    bottom: 1em;
    border: 0;
    border-radius: 0.1em;
}

.button-up:hover {
    background-color: var(--dark-green);
}